@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body,
html,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    overflow-x: hidden;

}

body {
    background-color: #1A182B !important;
}

h1 {
    font-family: 'Inter' !important;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF !important;
}



h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500 !important;
    font-size: 26px !important;
    line-height: 34px;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: -0.176px;
}


/* color variants */
.primary {
    color: #FFFFFF;
}

.secondary {
    color: #FC81FE;
}

.tertiary {
    color: rgba(169, 164, 171, 0.78);
}

/* button variant */

.bannerTextResp{
    display: none;
}

.btnGradient {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.176px;
    color: #080A10;
    background: linear-gradient(90deg, #FFAF2B 0%, #FC81FE 100%);
    border: 1px solid #0F110F;
    border-radius: 100px;
    padding: 16px 40px;
}

.bannerImg{
    height: 340px;
}

.overlay {
    position: absolute;
    height: 750px;
    bottom: 110px;
}

.overlay2 {
    position: absolute;
    left: 330px;
}

.box {
    margin: 0 6rem;
}

.box p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
/* Service Section */


.services-section {
    margin: 8rem auto;
    background-color: #080A10;
}

.services {
    padding: 1.875rem 1.875rem;
    position: relative;
    z-index: 10;
}

.service-background-image {
    position: absolute;
    z-index: -1;
    right: 45px;
}

.services-grid {
    padding: 1.25rem 1.25rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2.5rem;
    column-gap: 2.5rem;
}

.service-box {
    padding: 2.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #7E829918;
    border-radius: 2.5rem;
}

.service-heading {
    font-size: 1.375rem;
    font-weight: 600;
    color: #FFFFFF;
    padding: 1.25rem 0;
}

.service-description {
    font-size: 1rem;
    font-weight: 300;
    color: #A9A4AB97;
    line-height: 1.5rem;
}

.services-content {
    margin: 1.25rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secondary-heading {
    font-size: 2.75rem;
    font-weight: 700;
    color: #fff;
}

.services-content .services-para {
    margin: 1.25rem 1.25rem;
    font-size: 1.125rem;
    font-weight: 300;
    color: rgba(169, 164, 171, 0.97);
    line-height: 2.138rem;
}

.services-content .services-btn {
    padding: 1rem 2.5rem;
    outline: none;
    font-size: 1.125rem;
    font-weight: 500;
    background: linear-gradient(90deg, #FFAF2B 0%, #FC81FE 100%);
    border: 1px solid #0F110F;
    border-radius: 100px;
    margin-bottom: 1rem;
}


.services-content .conversation-text {
    font-size: 0.875rem;
    font-weight: 300;
    color: rgba(169, 164, 171, 0.97);
}

/* Award Section */

.award-hero {
    margin: 0 auto;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
    overflow: hidden;
}

.award-hero-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.award-hero-box .award-heading {
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 3.3rem;
    color: #FFFFFF;
}

.award-description {
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    color: #A9A4AB78;
    padding-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.award-description .award-span {
    color: #fff;
}

.delivered-customers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}


.award-hero-box .delivered-text {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #fff;
    /* margin-top: 1rem; */
    margin-bottom: 0;
    padding-right: 1rem;
}

.award-hero .hero-image-box {
    position: relative;
    overflow: visible;
}

.award-hero-img {
    width: 100%;
}

.back-hero-image {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: -1;
}

/* spot google */
.spotGoogle {
    display: flex;
    flex-direction: column;
    color: white;
}

.divideCol {
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
}

.spot1 {
    height: 590px;
    width: 530px;
    padding-top: 100px;
}

.spot12 {
    display: flex;
    flex-direction: column;

}

.colorMePink {
    color: #E761E9;
}
.block{
    background: linear-gradient(180deg, rgba(126, 130, 153, 0.18) 0%, rgba(126, 130, 153, 0) 100%);
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: rgba(126, 130, 153, 0.09);
    border-radius: 40px;

}

.block1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 21px 31px 30px;
}
.blockFont{
    font-size: 15px;
    line-height: 30px;
}

.iconClass {
    width: 45px;
    height: 45px;
}

.block1Details {
    margin-left: 15.4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 1.3625px 0px 0px;
    gap: 0.8px;
}

.headerStyling {
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
}

.headStyling {
    font-weight: 600;
    font-size: 24px;
    line-height: 41px;
}

/* .paraStyling{
 font-weight: 300;
font-size: 18px;
line-height: 34px;
} */

p {
    color: rgba(169, 164, 171, 0.78);
}

/* last Section */

.cards {
    background: linear-gradient(180deg, #282A36 0%, rgba(42, 43, 49, 0) 100%);
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: rgba(126, 130, 153, 0.09);
    border-radius: 40px;
    padding: 100px 36px 36px 37px;
}

.cardDesc {
    font-weight: 300;
    font-size: 22px;
    line-height: 33px;
}

.cardName {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #A9A4AB;
}

.cardPos {
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: rgba(169, 164, 171, 0.4);
}

/* fifth section */

.seo-section {
    padding: 3rem;
    background-color: #0C0E17;
}

.inner {
    margin-right: 3rem;
    margin-left: 3rem;
    margin-top: 3rem!
}

.imgCol {
    overflow: hidden;
}

.imgCol .col-lg-6:nth-child(odd) {
    margin-right: 4rem;
}

.imgCol .col-lg-5:nth-child(4) {
    margin-top: -5.725rem;
}

/* fifth section */

.seo-section {
    background-color: #0C0E17;
}

.paraSpace {
    margin: 20px 0px;
}

.imgCol {
    overflow: hidden;
}

.imgCol .col-lg-6:nth-child(odd) {
    margin-right: 4rem;
}

.imgCol .col-lg-5:nth-child(4) {
    margin-top: -5.725rem;
}

.paraSpace {
    margin: 20px 0px;
}

.imgCol p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}



@media(max-width: 830px) {
    .services-section {
        margin: 4rem auto;
    }

    .services {
        position: relative;
        z-index: 10;
    }

    .services .service-background-image {
        position: absolute;
        width: 100%;
        z-index: -1;
        right: -10px;
        bottom: 100px;
    }
    .services-grid {
        padding: 1rem 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .service-box {
        padding: 2rem 2rem;
    }
    .service-heading {
        font-size: 1.375rem;
        font-weight: 600;
        color: #FFFFFF;
        padding: 1.25rem 0;
    }
    .secondary-heading {
        font-size: 1.75rem;
    }
    .award-hero {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        align-items: center;
    }
    .award-hero .award-hero-box {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .award-hero .hero-image-box {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .overlay{
        display:none;
    }
    
    /* For Last Section */
    .cards{
        padding: 40px 36px 36px 36px !important;
    }
    .fontChange{
        font-size: 32px;
    }
    .fontChange2{
        font-size: 16px;
    }
    .cardDesc{
        font-size: 18px;
    }
    .cardName{
        font-size: 20px;
    }
}


@media(max-width: 820px) {

    .first-section .col-md-4{
        width:100% !important;
    }

    .bannerText{
        display: none;
    }

    .bannerTextResp{
        display: block !important;
        margin-right:0 !important;
    }

    .inner {
        margin-right: 2rem !important;
        margin-left: 2rem !important;
        margin-top: 2rem !important;
    }   

    .imgCol img {
        width: 100%;
    }

    .imgCol .col-lg-6 {
        margin-right: 0 !important;
    }

    .imgCol .col-lg-5 {
        margin-top: 0 !important;
    }
    .seo-section {
        padding: 1.5rem !important;
    }

    .seo-section div:first-child {
        padding: 1rem 0;
    }

    .brand {
        width: 70px;
    }

    .img-resp-none {
        display: none;
    }
}



@media(max-width: 425px) {
    h1 {
        font-size: 32px;
    }

    .inner {
        margin-right: 1rem !important;
        margin-left: 1rem !important;
        margin-top: 1rem !important;
    }

    .services-section {
        margin-bottom: 0;
    }

    .services-grid {
        grid-template-columns: 1fr;
    }

    .services-content .secondary-heading {
        text-align: center;
    }

    .services-content .services-para {
        text-align: center;
        font-size: 1rem;
        margin: 0;
    }

    .services-content .services-btn {
        font-size: 1rem;
        font-weight: 500;
    }

    .award-hero-box .award-heading {
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.5rem;
    }

    .award-hero-box .award-description {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.875;
        padding-right: 0;
    }

    .award-hero-box .delivered-customers {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
    }

    .award-hero-box .delivered-tex {
        font-size: 14px;
        font-weight: 400;

    }

}