/* 
    - FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    

    -- SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

    --COLOR SYSTEM
    PINK = #FC81FE



*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body,
html,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    /* 10px */
    /* font-size: 10px; */
    /* overflow-x: hidden; */
}

body {
    background-color: #1A182B !important;
}

h1 {
    font-family: 'Inter' !important;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF !important;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: -0.176px;
}


/* color variants */
.primary {
    color: #FFFFFF;
}

.secondary {
    color: #FC81FE;
}

.tertiary {
    color: rgba(169, 164, 171, 0.78);
}

/* button variant */

.btnGradient {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.176px;
    color: #080A10;
    background: linear-gradient(90deg, #FFAF2B 0%, #FC81FE 100%);
    border: 1px solid #0F110F;
    border-radius: 100px;
    padding: 16px 40px;
}

.overlay{
    position: absolute;
    height: 750px;
    bottom: 110px;
}

.box {
    margin: 0 6rem;
}

.box p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* ////////////////// */
/* utility class */
/* ////////////////// */

.pink-heading {
    color: #FC81FE;
}


/* Services Section */

.container {
    max-width: 120rem;
}

.services-section {
    margin: 8rem auto;
    background-color: #080A10;
}

.services {
    padding: 1.875rem 1.875rem;
    background-image: url('assets/ser-eliptical.png');
    background-repeat: no-repeat;
}

.services-grid {
    padding: 1.25rem 1.25rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2.5rem;
    column-gap: 2.5rem;
}

.service-box {
    padding: 2.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #7E829918;
    border-radius: 2.5rem;
}

.service-heading {
    font-size: 1.375rem;
    font-weight: 600;
    color: #FFFFFF;
    padding: 1.25rem 0; 
}

.service-description {
    font-size: 1rem;
    font-weight: 300;
    color: #A9A4AB97;
    line-height: 1.5rem;
}

.services-content {
    margin: 1.25rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secondary-heading {
    font-size: 2.75rem;
    font-weight: 700;
    color: #fff;
}

.services-content .services-para {
    margin: 1.25rem 1.25rem;
    font-size: 1.125rem;
    font-weight: 300;
    color: rgba(169, 164, 171, 0.97);
    line-height: 2.138rem;
}

.services-content .services-btn {
    padding: 1rem 2.5rem;
    outline: none;
    font-size: 1.125rem;
    font-weight: 500;
    background: linear-gradient(90deg, #FFAF2B 0%, #FC81FE 100%);
    border: 1px solid #0F110F;
    border-radius: 100px;
    margin-bottom: 1rem;
}


.services-content .conversation-text {
    font-size: 0.875rem;
    font-weight: 300;
    color: rgba(169, 164, 171, 0.97);
}

/* Award Section */



.award-hero {
    margin: 0 auto;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
}


.award-hero-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.award-hero-box .award-heading {
    font-size: 2.75rem;
    font-weight: 700;
    line-height: 3.3rem;
    color: #FFFFFF;
}


.award-description {
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    color: #A9A4AB78;
    padding-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.award-description .award-span {
    color: #fff;
}

.delivered-customers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}


.award-hero-box .delivered-text {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: #fff;
    /* margin-top: 1rem; */
    margin-bottom: 0;
    padding-right: 1rem;
}

.award-hero .hero-image-box {
    position: relative;
    overflow: visible;
}

.back-hero-image {
    position: absolute;
    top: 12px;
    left: 0;
    z-index: -1;
}

