body,
html,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    background-color: #1A182B !important;
}

h1 {
    font-family: 'Inter' !important;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 64px;
    line-height: 77px;
    color: #FFFFFF !important;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: -0.176px;
}


/* color variants */
.primary {
    color: #FFFFFF;
}

.secondary {
    color: #FC81FE;
}

.tertiary {
    color: rgba(169, 164, 171, 0.78);
}

/* button variant */

.btnGradient {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.176px;
    color: #080A10;
    background: linear-gradient(90deg, #FFAF2B 0%, #FC81FE 100%);
    border: 1px solid #0F110F;
    border-radius: 100px;
    padding: 16px 40px;
}

.overlay{
    position: absolute;
    height: 750px;
    bottom: 110px;
}

.box {
    margin: 0 6rem;
}

.box p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
